@media (min-width: 640px) {
    #bt-cancel-search,#bt-search{
        width: 150px;
    }
}
@media (min-width: 1024px) {
    #bt-cancel-search,#bt-search{
        width: 200px;
    }
}

@media (min-width: 1440px) {
    #bt-cancel-search,#bt-search{
        width: 250px;
    }
}