img{
    width: 128px ;
    max-height: 250px;
}
.enumbookList
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;  
    .enumbook{
        margin-bottom: 30px;
        padding: 15px;
        background-color:#e0e0e0;
        p{
            line-height: 1;
        }
        .titlebook{
            margin-right: 20px;           
        }
        .idbook,.titlebook{
            font-weight: bold;
        }
        div{
            text-align: center;
        }
        .fas{
            float: right;
            font-size: 20px;
            color:$greenButton;
        }
    }
}

#myBooks{    
    padding-right: 2%;
    padding-left: 2%;
}
h1{
   color: darken($greyBackgroudTitle, 50%);
   background-color:$greyBackgroudTitle;
   box-shadow: 10px 5px 5px darken($greyBackgroudTitle, 10%); 
}
h1,h2{
    text-align: center;
}

.center{
    text-align: center;
}



